.VirtualBox
.aliedit
.android
.cache
.compiz
.config
.dbus
.filezilla
.gconf
.gimp-2.8
.gnome2
.gstreamer-*
.ibus
.icons
.local
.macromedia
.mozilla
.mplayer
.ssh
.steam
.xchat2
Downloads
VirtualBox VMs
.emacs.d